.login_div {
  width: 420px;
  height: 400px;
  margin-top: 9em;
  padding: 3em;
  background-color: #efefef;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.signup_div {
  width: 420px;
  height: 500px;
  /* margin-top: 4px; */
  padding: 3em;
  background-color: #efefef;
  border-radius: 1em;
  box-shadow: rgba(213, 213, 213, 0.775) 0px 3px 8px;
  position: absolute;
  left: 36.6%;
  top: -100%;
  transition: 2s;
  z-index: 9;
  overflow-y: hidden;
}

/* .btn_signup {
  padding: 11px 15px;
  border-radius: 6px;
  border: none;
  background-color: #fbbd08;
} */
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #28282b;
  /* background-color: rgba(0, 0, 0, 0.5); */
  top: 0%;
  z-index: -1;
  opacity: 0;
  transition: 1s;
  overflow: hidden;
}

.showoverlay {
  opacity: 0.7;
  z-index: 1;
  height: 100%;
  overflow: hidden;
}
.show_signup_div {
  z-index: 9;
  top: 15%;
}

.label.clr {
  color: white;
}
.log_sign_btn {
  width: autopx;
  height: 40px;
  /* background-color: #fbbd08; */
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}
/* .login_btn {
  background-color: #fbbd08;
  border: none;
  border-radius: 10px;
} */

/* .signup_btn {
  background-color: #fbbd08;
  border: none;
  border-radius: 10px;
} */
.login_btn {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  background: #fff3cf;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 17px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
  &:after,
  &:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
  }
  &:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid #fbbd08;
    border-left: 5px solid #fbbd08;
  }
  &:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid #fbbd08;
    border-right: 5px solid #fbbd08;
  }
  &:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    /* // background:rgba(0,0,0,.5);
      // color:white; */
    &:before,
    &:after {
      width: 100%;
      height: 100%;
      /* // border-color:white; */
    }
  }
}
.signup_btn {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  background: #fff3cf;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 17px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
  &:after,
  &:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
  }
  &:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid #fbbd08;
    border-left: 5px solid #fbbd08;
  }
  &:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid #fbbd08;
    border-right: 5px solid #fbbd08;
  }
  &:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    /* // background:rgba(0,0,0,.5);
      // color:white; */
    &:before,
    &:after {
      width: 100%;
      height: 100%;
      /* // border-color:white; */
    }
  }
}
.signup_btn2 {
  margin-top: 15px;
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  background: #fff3cf;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 17px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
  &:after,
  &:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
  }
  &:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid #fbbd08;
    border-left: 5px solid #fbbd08;
  }
  &:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid #fbbd08;
    border-right: 5px solid #fbbd08;
  }
  &:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    /* // background:rgba(0,0,0,.5);
      // color:white; */
    &:before,
    &:after {
      width: 100%;
      height: 100%;
      /* // border-color:white; */
    }
  }
}
