.awesome_grand {
  width: auto;
  height: 15em;
  /* border: 1px solid rgb(162, 162, 162); */
  margin: 3em 2em 2em 2em;
  display: flex;
  justify-content: space-between;
}

.awesome_logos {
  width: auto;
  height: 10em;
  cursor: pointer;
}
.awesome_logos:hover {
  opacity: 0.85;
}
