.shopbycat {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}
.filter {
  border: none;
  font-size: 20px;
  color: rgb(61, 61, 61);
  padding: 12px 26px;
  cursor: pointer;
  background-color: white;
}
.catimage_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.catimages {
  width: 20em;
  height: 25em;
  margin: 0 10px;
  cursor: pointer;
  border: 1px solid rgb(204, 204, 204);
}
.catsubheading {
  color: #000;
  font-size: 16px !important;
  font-weight: 500;
  padding-top: 7px;
  text-transform: capitalize;
  margin: 0 10px;
}
.catsubheading2 {
  color: #000;
  font-size: 12px;
  /* font-weight: 800; */
  min-height: 40px;
  margin: 0 10px;
}
.shopbtn {
  width: 20em;
  margin: 0 10px;
  padding: 12px 0;
  cursor: pointer;
  border: 1px solid rgb(147, 147, 147);
  background-color: white;
}
.shopbtn:hover {
  background-image: linear-gradient(
    to right,
    #00c0ff 0%,
    #00c0ff 49%,
    #00c0ff 80%,
    #00c0ff 100%
  );
  animation: slidebg 10s linear infinite;
}
