.categories_text {
  font-family: "oswald";
  font-size: 40px;
}
.grand_carousel {
  height: 47em;
  width: 100%;
  background-color: antiquewhite;
  display: flex;
}
.carousel_image {
  width: 100%;
  height: auto;
  cursor: pointer;
}
