.filter_cat {
  width: 24em;
  height: 60em;
  border: 1px solid #f0f0f0;
  margin: 1em 9px;
  background-color: white;
}
.filter_text_cat {
  width: auto;
  height: 3em;
  border-bottom: 1px solid #f0f0f0;
  padding-left: 12px;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.second_filter_div {
  height: auto;
  display: flex;
  flex-direction: column;
  /* border-top: 1px solid #f0f0f0; */
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0 15px 12px;
}
.cat_div_ {
  font-family: Roboto, Arial, sans-serif;
  font-size: 12px;
  line-height: 16.8px;
  text-align: start;
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(116, 116, 116);
}
.foot_div {
  font-size: 14px;
  font-weight: 600;
  margin-top: 7px;
}
.inner_text {
  padding-left: 30px;
  font-size: 14px;
  font-family: Roboto, Arial, sans-serif;
  margin-top: 7px;
  font-weight: 100 !important;
  cursor: pointer;
  color: black;
}
.checkbox {
  padding-left: 30px;
  font-size: 14px;
  font-family: Roboto, Arial, sans-serif;
  margin-top: 7px;
  font-weight: 100 !important;
  cursor: pointer;
  color: black;
  word-spacing: 10px;
  align-items: center;
  /* justify-content: space-evenly; */
  display: flex;
  cursor: pointer;
}
.spacing_div {
  margin-left: 5px;
}
