.categories1 {
  display: flex;
  justify-content: space-around;
}
.categories2 {
  width: 25em;
  height: 15em;
  border: 1px solid rgb(210, 210, 210);
}
.cat-img1 {
  width: 25em;
  height: 15em;
  cursor: pointer;
}

.heading_text {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 37px !important;
  font-weight: 700;
  margin-top: 10px;
  text-transform: uppercase;
  text-align: center;
}
.new_arr_textt {
  color: #000;
  font-size: 16px !important;
  font-weight: 500;
  padding-top: 7px;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}
