.card_div {
  width: 24em;
  height: 25em;
  background-color: white;
  margin: 1em 0.5em 1em 1em;
  cursor: pointer;
  text-align: center;
  box-shadow: "50px";
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card_div:hover {
  transform: scale(1.1);
}
.image_div {
  width: inherit;
  height: 21em;
}
.images {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}

.card_name_div {
  width: 100%;
  height: 4em;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 0 0 8px 8px;
}

.cardtemplate {
  width: 100%;
  height: 100%;
  /* background-color: brown; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  /* gap: 40px; */
}
