.main_div {
  width: auto;
  height: auto;
  background-color: #f1cc59;
  color: #4ba5cd;
  padding: 1em 0 1em 0;
}

.img {
  width: 105 em;
  height: 25em;
  padding: 3px;
  background-color: white;
  margin: 2em 2em 2em 2em;
}

.login_div {
  width: 30em;
  height: 10em;
  margin: 3em 40em;
}

/* .image_div {
  width: 100%;
  height: 25em;
  margin: 3em;
  background-color: white;
} */
