.main_div {
  width: auto;
  height: auto;
  background-color: #f1cc59;
  color: #2c86ad;
  padding: 1em 0 1em 0;
}

.img {
  width: 105 em;
  height: 25em;
  padding: 3px;
  background-color: white;
  margin: 2em 2em 2em 2em;
}

.login_div {
  width: 30em;
  height: 10em;
  margin: 3em 40em;
}
.brand {
  align-items: center;
  justify-content: center;
  display: flex;
}

.brand_div {
  width: 50em;
  height: 5em;
  background-color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 1em;
}

/* .image_div {
  background-color: white;
} */
