body {
  box-sizing: border-box;
  margin: 0;
}

.main_div {
  width: auto;
  height: auto;
  background-color: #e7e7e7;
  /* background-color: #f1cc59; */
  color: #2c86ad;
  padding: 1px 0 1px 0;
  /* padding: 1em 0 1em 0; */
}
.grand_carousel {
  /* width: 100em; */
  height: 25em;
  margin: 1em;
  background-color: antiquewhite;
}

.carousel_img {
  width: 100%;
  height: 25em;
}

.login_div {
  width: 30em;
  height: 10em;
  margin: 3em 40em;
}
.brand {
  align-items: center;
  justify-content: center;
  display: flex;
}

.brand_div {
  width: 100%;
  height: 5em;
  background-color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  /* border-radius: 1em; */
}

/* .image_div {
  background-color: white;
} */
